<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Student Info Is Shown Below </h1>
<table>
    <tbody>
    <thead>
    <tr>
        <th> FirstName</th>
        <th> LastName</th>
        <th> Age</th>
        <th> Gender</th>
    </tr>
    </thead>
    <tr>
        <td th:text="${StudentList.get(0).getFirstName()}"></td>
        <td th:text="${StudentList.get(0).getLastName()}"></td>
        <td th:text="${StudentList.get(0).age}"></td>
        <td th:text="${StudentList.get(0).gender}"></td>
    </tr>

    <tr>
        <td th:text="${StudentList.get(1).getFirstName()}"></td>
        <td th:text="${StudentList.get(1).getLastName()}"></td>
        <td th:text="${StudentList.get(1).age}"></td>
        <td th:text="${StudentList.get(1).gender}"></td>
    </tr>
    <tr>
        <td th:text="${StudentList.get(2).getFirstName()}"></td>
        <td th:text="${StudentList.get(2).getLastName()}"></td>
        <td th:text="${StudentList.get(2).age}"></td>
        <td th:text="${StudentList.get(2).gender}"></td>
    </tr>

    </tbody>
</table>
</body>
</html>