<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div align="center">
<body>
  You Are Navigating To Confirmation Page
<h2 th:text="${mentor.firstName}"></h2>
  <h2 th:text="${mentor.lastName}"></h2>
  <h2 th:text="${mentor.email}"></h2>
  <h2 th:text="${mentor.graduated}"></h2>
  <h2 th:text="${mentor.company}"></h2>

<!--  <h2 th:text="'This is your firstName: '+${newMentorObj.firstName}"></h2>-->
<!--  <h2 th:text="'This is your lastName: '+${newMentorObj.lastName}"></h2>-->
<!--  <h2 th:text="'This si your Email: '+${newMentorObj.email}"></h2>-->
<!--  <h2 th:text="'If you are graduated: '+${newMentorObj.graduated}"></h2>-->
<!--  <h2 th:text="'This si where you work: '+${newMentorObj.company}"></h2>-->

</body>
</div>
</html>